<div>
  <label>
    Nom:
    <input type="text" [formControl]='username'>
  </label>
  <br>
  <label>
    Email:
    <input type="email" [formControl]='email'>
  </label>
  <br>
  <label>
    Mot de passe:
    <input type="password" [formControl]='password'>
  </label>
  <br>
  <label>
    Adresse:
    <input type="text" [formControl]='streetAddress'>
    <br>
    <input type="number" [formControl]='postalAddress'>
    <br>
    <input type="text" [formControl]='townAddress'>
  </label>
  <br>
  <button (click)="createUser()">Inscription</button>
</div>
<div>
  Nom: {{user.name}} <br>
  eMail: {{user.email}} <br>
  Mot de passe: {{user.password}} <br>
  Adresse: {{user.streetAddress}} {{user.postalAddress}} {{user.townAddress}}
</div>
