<form [formGroup]='userForm' (ngSubmit)="onSubmit()">
  <label>
    Nom:
    <input type="text" formControlName='username'>
  </label> <br>

  <div formGroupName = "credentials">
    <label>
      Email:
      <input type="email" formControlName='email' required>
      <div *ngIf="email1.errors && !email1.pristine" class="error-msg">
          <div [hidden]="!email1.errors.required">email is required.</div>
          <div [hidden]="!email1.errors.email">{{email1.errors.email.rules}}</div>
      </div>

    </label> <br>

    <label>
      Mot de passe:
      <input type="password" formControlName='password'>
    </label>

  </div> <br>

  <label>
    Adresse:
    <input type="text" formControlName='streetAddress'> <br>
    <input type="number" formControlName='postalAddress'> <br>
    <input type="text" formControlName='townAddress'> <br>
  </label>

  <button type="submit" [disabled]=!userForm.valid>Inscription</button>
</form>


<div>
  Nom: {{user.name}} <br>
  eMail: {{user.email}} <br>
  Mot de passe: {{user.password}} <br>
  Adresse: {{user.streetAddress}} {{user.postalAddress}} {{user.townAddress}}
</div>

